<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plugin</title>
    <link rel="shortcut icon" href="../assets/images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <!-- Menu Fijo -->

    <nav class="menu navbar navbar-expand-md navbar-dark bg-dark">
        <a href="../index.html">
            <img class="img-brand" src="../assets/images/here_white.png" alt="Here maps">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active pr-3 text-center">
                    <a class="nav-link" href="#">Inicio <i class="fas fa-home icon-color"></i> </a>
                </li>
                <li class="nav-item pr-3 text-center" data-toggle="modal" data-target="#modalActivities"  id="btn_saveRoute">
                    <a class="nav-link" href="#">Grabar ruta <i class="fas fa-save icon-color"></i> </a>
                </li>
                <li class="nav-item pr-3 text-center">
                    <a class="nav-link" href="#">Mis rutas <i class="fas fa-heart icon-color"></i> </a>
                </li>
                <li class="nav-item pr-3 text-center">
                    <a class="nav-link" href="#">Compartir <i class="fas fa-share-alt icon-color"></i></a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <button class="btn btn-herem my-2 my-sm-0" type="submit">
                    <a href="../index.html">Cerrar Sesión</a>
                </button>
            </form>
        </div>
    </nav>
    <!-- Map Section -->
    <main class="container-fluid m-0 p-0">
        <div class="row m-0">
            <div class="col-12 p-0 ">                
                <div id="principal-map"  class="w-100"></div>
               <!--  <ul class="bg-options-list m-0 p-0">
                   
                        <li  class="text-white p-3 item-styles d-flex justify-content-center font-weight-light">
                        <div class="box-input-styles w-50 d-flex justify-content-between"><input class="input-styles text-white p-1 w-75 font-weight-light" type="text" placeholder="Buscar rutas ..."/><i class="fas fa-search icon-search-styles icon-color"></i></div>
                        </li>
                        <li data-toggle="modal" data-target="#modalActivities"  id="btn_saveRoute"  class="text-white p-3 item-styles d-flex justify-content-center font-weight-light">
                                Grabar ruta  <i class="fas fa-save icon-color"> </i>
                           </li>
                        <li class="text-white p-3 item-styles d-flex justify-content-center font-weight-light ">
                          Iniciar ruta <i class="fas fa-map-signs icon-color"> </i>
                        </li>
                        <li  class="text-white p-3 item-styles d-flex justify-content-center font-weight-light">
                          Mis rutas <i class="fas fa-heart  icon-color"></i>
                        </li>
                      </ul> -->
            </div>
            
        </div>
    </main>
    <!-- Modal Actividades-->
<div class="modal fade" id="modalActivities" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Actividad que realizarás</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row" id="divActivities">
              
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="accept" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
    <footer>

        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <p class="text-center">copyright 2018</p>
                </div>

            </div>
        </div>

        </div>
    </footer>

    <!-- Bootstrap  Jquery JavaScript -->
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="../js/config_firebase.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>